// Text Size
$size1: 30px;
$size2: 23px;
$size3: 18px;
$size4: 14px;
$size5: 11px;

/*
  Colors
*/
// Global
$super-green: #11ba00;
// Top Bar
$top-bar-shadow: #2c003d;
$top-bar-brand-bg: $black;
$top-bar-brand-color: $white;
$nav-links-bg: $indigo-600;
$nav-links-color: $white;

// Intro Card
$intro-card-bg: $gray-200;
$greet-color: $black;
$greet-subtitle-color: $indigo-700;

// Skill Card
$skill-header-bg: $black;
$skill-header-color: $white;
$html-leg: #e34c26;
$css-leg: #2c003d;
$js-leg: $yellow-600;
$java-leg: #b07219;
$py-leg: #3572a5;
$fig-leg: $blue;

// Works
$works-header-bg: $indigo-600;
$works-header-border-color: $yellow;
$works-header-title-color: $yellow;
$works-bg: $white;
$works-border-color: $super-green;
$works-title-color: $dark;
