// Importing variables from bootstrap scss
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins/breakpoints";
// @import "../node_modules/bootstrap/scss/mixins";

// importing custom variables
@import "./variables";

* {
	font-family: "Fira Sans", sans-serif;
}
html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	background-image: url(./pattern2.svg);
}

.top-bar {
	box-shadow: 0px 2px 16px #2c003d;
	.brand {
		background-color: $black;
		a {
			color: $white;
			margin-left: 10px;
		}
	}

	.nav-links {
		background-color: $indigo-600;
		padding-left: 10px;
		a {
			color: $white;
		}
	}
}

.intro-card {
	margin-top: 40px;
	background-color: $gray-200;
	border: none;
	.pic {
		img {
			border-radius: 0.25rem;
		}
	}

	.about-text {
		.greet {
			font-size: 36px;
			color: $black;
		}
		.sub-title {
			font-size: $size3;
			font-weight: 500;
			color: $indigo-700;
		}
		.desc {
			text-align: justify;
		}
	}
}

.skill-card {
	border: none;
	overflow: hidden;
	.skill-header {
		background-color: $black;
		padding-left: 1rem;
		.skill-header-text {
			font-size: 1.5rem;
			font-weight: 500;
			color: $white;
		}
	}

	.skill-body {
		padding: 0.5rem 1rem;
		.langs {
			.lang {
				.main-lang {
					font-size: 2rem;
					font-weight: 600;
					span {
						font-size: inherit;
					}
				}
			}
		}
		.bar {
			display: flex;
			height: 0.5rem;
			border-radius: 0.25rem;
			color: $white;
			overflow: hidden;
			.html-section,
			.css-section,
			.js-section,
			.java-section,
			.py-section {
				text-align: center;
				height: inherit;
			}
			.html-section {
				width: 34.24%;
				background-color: #e34c26;
			}
			.css-section {
				width: 20.73%;
				background-color: #2c003d;
			}
			.js-section {
				width: 18.2%;
				background-color: $yellow-600;
			}
			.java-section {
				width: 16.23%;
				background-color: #b07219;
			}
			.py-section {
				width: 10.6%;
				background-color: #3572a5;
			}
		}
		.legend {
			.legend-val {
				font-weight: 500;
			}
			.html {
				color: #e34c26;
			}
			.css {
				color: #2c003d;
			}
			.js {
				color: $yellow-600;
			}
			.java {
				color: #b07219;
			}
			.py {
				color: #3572a5;
			}
		}
	}
}
#html {
	color: #e34c26;
}
#js {
	color: $yellow-600;
}
#java {
	color: #b07219;
}
#py {
	color: #3572a5;
}
.go-up {
	// display: 0;
	opacity: 0;
	position: fixed; /* Fixed/sticky position */
	bottom: 10px; /* Place the button at the bottom of the page */
	right: 10px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	cursor: default;
	padding: 0;
	// outline: none;
	width: 32px;
	height: 32px;
	transition: opacity 300ms ease-in-out;
	outline: none !important;
	// display: flex;
	img {
		width: 32px;
		position: relative;
	}
}

@include media-breakpoint-down(md) {
	.top-bar {
		.brand {
			font-size: 0.9rem;
		}
		.nav {
			font-size: 0.9rem;
		}
	}
	.intro-card {
		margin-top: 90px;
		.pic {
			text-align: center;
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				margin: 10px auto;
			}
		}
	}

	.skill-body {
		.langs {
			.lang {
				text-align: center;
				.main-lang {
					font-size: 2rem;
					font-weight: 600;
					justify-content: center;
					span {
						line-height: inherit;
					}
				}
			}
		}
		.bar {
			width: 100%;
		}
	}
}
