// Importing variables from bootstrap scss
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins/breakpoints";
// @import "../node_modules/bootstrap/scss/mixins";

// importing custom variables
@import "./variables";

* {
	font-family: "Fira Sans", sans-serif;
}
html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	background-image: url(./pattern2.svg);
}

.top-bar {
	box-shadow: 0px 2px 16px $top-bar-shadow;
	.brand {
		background-color: $top-bar-brand-bg;
		a {
			color: $top-bar-brand-color;
			margin-left: 10px;
		}
	}

	.nav-links {
		background-color: $nav-links-bg;
		padding-left: 10px;
		a {
			color: $nav-links-color;
		}
	}
}

.intro-card {
	margin-top: 40px;
	background-color: $intro-card-bg;
	border: none;
	.pic {
		img {
			border-radius: 0.25rem;
		}
	}

	.about-text {
		.greet {
			font-size: 36px;
			color: $greet-color;
		}
		.sub-title {
			font-size: $size3;
			font-weight: 500;
			color: $greet-subtitle-color;
		}
		.desc {
			text-align: justify;
		}
	}
}

.skill-card {
	border: none;
	overflow: hidden;
	.skill-header {
		background-color: $skill-header-bg;
		padding-left: 1rem;
		.skill-header-text {
			font-size: 1.5rem;
			font-weight: 500;
			color: $skill-header-color;
		}
	}

	.skill-body {
		padding: 0.5rem 1rem;
		.langs {
			.lang {
				.main-lang {
					font-size: 2rem;
					font-weight: 600;
					span {
						font-size: inherit;
					}
				}
			}
		}
		.bar {
			display: flex;
			height: 0.5rem;
			border-radius: 0.25rem;
			overflow: hidden;
			.html-section,
			.css-section,
			.js-section,
			.java-section,
			.py-section {
				text-align: center;
				height: inherit;
			}
			.html-section {
				width: 34.24%;
				background-color: $html-leg;
			}
			.css-section {
				width: 20.73%;
				background-color: $css-leg;
			}
			.js-section {
				width: 18.2%;
				background-color: $js-leg;
			}
			.java-section {
				width: 16.23%;
				background-color: $java-leg;
			}
			.py-section {
				width: 10.6%;
				background-color: $py-leg;
			}
		}
		.legend {
			.legend-val {
				font-weight: 500;
			}
			.html {
				color: $html-leg;
			}
			.css {
				color: $css-leg;
			}
			.js {
				color: $js-leg;
			}
			.java {
				color: $java-leg;
			}
			.py {
				color: $py-leg;
			}
		}
	}
}

.works {
	background-color: $works-bg;
	.title {
		font-size: 1.5rem;
		font-weight: 500;
		color: $works-title-color;
	}
}
.works-header {
	padding: 0.5rem;
	background-color: $works-header-bg;
	border-left-width: 0.25rem;
	border-left-color: $works-header-border-color;
	.title {
		color: $works-header-title-color;
	}
}
.works-card {
	.tags {
		.badge {
			font-weight: 400;
		}
	}
}

.links {
	.btn {
		background-color: $super-green;
		color: $white;
	}
}
#html {
	color: $html-leg;
}
#js {
	color: $js-leg;
}
#java {
	color: $java-leg;
}
#py {
	color: $py-leg;
}

#cs {
	color: $super-indigo;
}

#fig {
	color: $green;
}
.go-up {
	// display: 0;
	opacity: 0;
	position: fixed; /* Fixed/sticky position */
	bottom: 10px; /* Place the button at the bottom of the page */
	right: 10px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	cursor: default;
	padding: 0;
	// outline: none;
	width: 32px;
	height: 32px;
	transition: opacity 300ms ease-in-out;
	outline: none !important;
	// display: flex;
	img {
		width: 32px;
		position: relative;
	}
}

.contact-card {
	border: none;
	overflow: hidden;
	background: none;
	.contact-card-header {
		padding: 0.5rem;
		background-color: $super-yellow;
		font-size: 1.5rem;
		font-weight: 500;
		color: $black;
	}
	.contact-card-body {
		padding: 0.5rem;
		background-color: $white;
		div {
			font-size: 1rem;
			a {
				text-decoration: none;
				font-weight: 500;
				color: #292929;
			}
		}
	}
}

footer {
	margin-top: 10px;
	padding: 10px;
	width: 100%;
	display: flex;
	background-color: black;
	align-items: center;
	justify-content: center;
	.footer-text {
		color: $white;
		a {
			text-decoration: none;
			color: $gray-500;
			&:hover {
				color: $white;
			}
		}
	}
}

.red-border-left {
	border-left-color: $super-red;
	border-left-width: 0.25rem;
}

.orange-border-left {
	border-left-color: $super-orange;
	border-left-width: 0.25rem;
}

.yellow-border-left {
	border-left-color: $super-yellow;
	border-left-width: 0.25rem;
}

.green-border-left {
	border-left-color: $super-green;
	border-left-width: 0.25rem;
}

.blue-border-left {
	border-left-color: $super-blue;
	border-left-width: 0.25rem;
}

.indigo-border-left {
	border-left-color: $super-indigo;
	border-left-width: 0.25rem;
}

@include media-breakpoint-down(md) {
	.top-bar {
		.brand {
			font-size: 0.9rem;
		}
		.nav {
			font-size: 0.9rem;
		}
	}
	.intro-card {
		margin-top: 90px;
		.pic {
			text-align: center;
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				margin: 10px auto;
			}
		}
	}

	.skill-body {
		.langs {
			.lang {
				text-align: center;
				.main-lang {
					font-size: 2rem;
					font-weight: 600;
					justify-content: center;
					span {
						line-height: inherit;
					}
				}
			}
		}
		.bar {
			width: 100%;
		}
	}
}
